body{
    background: #1a1a2e;
}

h1{
    text-align: center;
    color: red;
}

.GameBoard {
    width: 430px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}

.row {
    display: flex;
    gap: 5px;
    filter: blur(2px);
}


.cell {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.active-row {
    filter: none;
}
.active-row .cell {
    border-color: #0606ff;
}
.old-row {
    filter: none;
}
