body{
    background: #1a1a2e;
}

h1{
    text-align: center;
    color: red;
}

.GameBoard {
    width: 430px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}

.row {
    display: flex;
    gap: 5px;
    filter: blur(2px);
}


.cell {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    box-sizing: border-box;
}

.cell:disabled {
    color: white;
    opacity: 1;
    -webkit-text-fill-color: white;
}

.cell.correct {
    background: #6aaa64;
    border-color: #6aaa64;
}

.cell.misplaced {
    background: #c9b458;
    border-color: #c9b458;
}

.cell.wrong {
    background: #787c7e;
    border-color: #787c7e;
}

.active-row {
    filter: none;
}
.active-row .cell {
    border-color: #0606ff;
}
.old-row {
    filter: none;
}
